<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>
			Matthew Borden
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>
			.new    {float: right; margin: 15px;}
			.title  {float:left;}
			.awnser { width:90%; margin-top: 5px;}
			.center {text-align:center;}
			span {float: left; padding: 5px 0 5px 10px;}
			.long {width:95%;}
		</style>
	</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" style="
    background-color: white; background-image: url(http://freewpresources.com/diggity/wp-content/themes/diggity/lib/images/pattern/pattern.noise.png);
">		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="index.html">Matthew Borden</a>
				</div>
			</div>
		</div>

		<div class="container">	
			<div class="row">
				<div class="span12">
					<h2 class="title"></h2>
				</div>
			</div>
			<div class = "row">
				
					<div class="span6 center">
						<a href="" role="button" class="btn awnser" data-toggle="modal"><span></span></a>
					</div>
				
			</div>
<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="http://freewpresources.com/diggity/wp-content/themes/diggity/js/jquery.mosaic.1.0.1.min.js?ver=3.5" type="text/javascript"></script>
<script src="/javascripts/modal.js">
			<script>
			$(document).ready(function() {
				$('#myModal').modal({
				  keyboard: true
				})
			  });
			</script>
		</div>
	</body>
</html>


